* {
    border: 0 none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    background: #3DABCB;
    border-top: 10px solid #121621;
    color: #121621;
    font-family: 'Philosopher', Arial, serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
}

a {
    color: #459ECB;
    text-decoration: none;
}

a#tweet {
    background: url(../img/date.png) left center no-repeat;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 15px;
}

#header {
    margin: 50px auto 10px;
    width: 900px;
}

#header h1 {
    background: url(../img/icon.png) left center no-repeat;
    color: #121621;
    float: left;
    font-family: 'Neucha', Arial, serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    padding: 5px 0 0 50px;
}

#header #users {
    display: block;
    float: right;
    height: 130px;
    width: 400px;
}

#header #users h2 {
    background: 0 none;
    color: #FFF;
    font-family: 'Neucha', Arial, serif;
    font-style: italic;
}

#content {
    background: #459ECB;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #121621;
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
    width: 900px;
}

#content table {
    background: 0 none;
}

#content table tbody tr {
    background: 0 none;
}

#content table tbody tr td {
    background: #FCFCFC;
    padding: 10px 5px;
}

#content table tbody tr td:hover {
    background: #F5F5F5;
    cursor: pointer;
}

#content table tbody tr:first-child td {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#content table tbody tr:last-child td {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#content table tbody tr td img {
    float: left;
    margin: 0 10px;
}